<a href="https://colab.research.google.com/github/danny980521/NCAAW2021-Solution/blob/main/NCAAW2021_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

path = "/content/drive/My Drive/ncaaw/다운로드/"
s1 = pd.read_csv(path + 'WSampleSubmissionStage2.csv')
submission = pd.read_csv(path + 'WSampleSubmissionStage2.csv')

In [ ]:
final_Pred = s1['Pred']

In [ ]:
s1['T1'] = 0
s1['T2'] = 0
for i in range(2016) :
  s1['T1'][i] = s1['ID'][i][5:9]
  s1['T2'][i] = s1['ID'][i][10:]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
s1

                  ID  Pred    T1    T2
0     2021_3104_3112   0.5  3104  3112
1     2021_3104_3116   0.5  3104  3116
2     2021_3104_3124   0.5  3104  3124
3     2021_3104_3125   0.5  3104  3125
4     2021_3104_3133   0.5  3104  3133
...              ...   ...   ...   ...
2011  2021_3450_3460   0.5  3450  3460
2012  2021_3450_3461   0.5  3450  3461
2013  2021_3452_3460   0.5  3452  3460
2014  2021_3452_3461   0.5  3452  3461
2015  2021_3460_3461   0.5  3460  3461

[2016 rows x 4 columns]

In [ ]:
final_Pred.head(100)

0     0.5
1     0.5
2     0.5
3     0.5
4     0.5
     ...
95    0.5
96    0.5
97    0.5
98    0.5
99    0.5
Name: Pred, Length: 100, dtype: float64

In [ ]:
fte = pd.read_csv(path + '538 Womens 2021 March Madness Predictions2.csv')

In [ ]:
fte

              TEAM      REGION  POWER RATING  ...     WIN  SEED  CODE
0         Stanford       Alamo         106.5  ...  36.00%     1  3390
1            Uconn  River Walk         104.3  ...  24.00%     1  3163
2      S. Carolina   Hemisfair         101.8  ...  12.00%     1  3376
3           Baylor  River Walk         101.1  ...  11.00%     2  3124
4         Maryland   Hemisfair          99.9  ...   6.00%     2  3268
..             ...         ...           ...  ...     ...   ...   ...
59          NC A&T     Mercado          67.2  ...   0.05%    16  3299
60      High Point  River Walk          66.7  ...   0.05%    16  3219
61          Mercer   Hemisfair          66.9  ...   0.05%    16  3273
62  Mt. St. Mary's   Hemisfair          65.7  ...   0.05%    15  3291
63     Utah Valley       Alamo          61.6  ...   0.05%    16  3430

[64 rows x 12 columns]

In [ ]:
fte_code = fte.set_index("CODE")

In [ ]:
fte_code

                TEAM      REGION  POWER RATING  ...  CHAMP.     WIN  SEED
CODE                                            ...
3390        Stanford       Alamo         106.5  ...  54.00%  36.00%     1
3163           Uconn  River Walk         104.3  ...  46.00%  24.00%     1
3376     S. Carolina   Hemisfair         101.8  ...  22.00%  12.00%     1
3124          Baylor  River Walk         101.1  ...  25.00%  11.00%     2
3268        Maryland   Hemisfair          99.9  ...  13.00%   6.00%     2
...              ...         ...           ...  ...     ...     ...   ...
3299          NC A&T     Mercado          67.2  ...   0.05%   0.05%    16
3219      High Point  River Walk          66.7  ...   0.05%   0.05%    16
3273          Mercer   Hemisfair          66.9  ...   0.05%   0.05%    16
3291  Mt. St. Mary's   Hemisfair          65.7  ...   0.05%   0.05%    15
3430     Utah Valley       Alamo          61.6  ...   0.05%   0.05%    16

[64 rows x 11 columns]

In [ ]:
(fte_code.loc[s1['T1'][0],['REGION']])

REGION    Hemisfair
Name: 3104, dtype: object

In [ ]:
(fte_code.loc[3104,'REGION'])

'Hemisfair'

In [ ]:
s1['Round'] = 0
for i in range(2016) :
  if (fte_code.loc[s1['T1'][i],'REGION']) == (fte_code.loc[s1['T2'][i],'REGION']) :
        if fte_code['SEED'][s1['T1'][i]] + fte_code['SEED'][s1['T2'][i]] == 17 :
          s1['Round'][i] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
s1['Round'].value_counts()

0    1984
1      32
Name: Round, dtype: int64

In [ ]:
#1라운드 확률 반영
for i in range(2016) : 
 if s1['Round'][i] == 1:
   final_Pred[i] = float(fte_code.loc[s1['T1'][i],'2ND']) * 0.01

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
#1라운드 이후 확률 반영
for i in range(2016) : 
 if s1['Round'][i] != 1:
   final_Pred[i] = 1/(1+ 10**((fte_code.loc[s1['T2'][i],'POWER RATING']-fte_code.loc[s1['T1'][i],'POWER RATING'])*30.464/400))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
final_Pred.head(20)

0     0.154330
1     0.279495
2     0.049095
3     0.810848
4     0.785448
5     0.676237
6     0.779478
7     0.028614
8     0.905698
9     0.607881
10    0.526280
11    0.279495
12    0.417464
13    0.331489
14    0.955591
15    0.788388
16    0.186477
17    0.331489
18    0.335386
19    0.940095
Name: Pred, dtype: float64

In [ ]:
#제출
submission['Pred'] = final_Pred
submission.to_csv('/content/drive/My Drive/ncaaw/ncaaw_base1.csv', index = False)

In [ ]:
# for i in range(2016) : 
#   if s1['T1'][i] == 3390:
#     final_Pred[i] = 1
#   if s1['T2'][i] == 3390:
#     final_Pred[i] = 0
# #제출
# submission['Pred'] = final_Pred
# submission.to_csv('/content/drive/My Drive/ncaaw/ncaaw_stanford1.csv', index = False)

In [ ]:
for i in range(2016) : 
  if final_Pred[i] > 0.99:
    final_Pred[i] = 0.99
  if final_Pred[i] < 0.01:
    final_Pred[i] = 0.01
#제출
submission['Pred'] = final_Pred
submission.to_csv('/content/drive/My Drive/ncaaw/ncaaw_base2.csv', index = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """